Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.userprefs
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
out/
build/
packages/
rakefile.config.rb
/tests/Settings.cs
/tests/AppSettings.config
test-results
.vs/