<appSettings>
  <add key="APIKey" value="Your Api Key" />
  <!-- Custom parameters-->
  <add key="IgnoreInvalidSSLCertificate" value = "False" />
  <add key="RejectDelete" value="test@test.com" />
  <add key="ValidToEmail" value="test@test.com" />
  <add key="FromEmail" value="test@test.com" />
  <add key="TemplateExample" value="Test" />
  <add key="UniqueExistingEmailSubject" value="Unique email subject to search"/>
</appSettings>
