<appSettings>
  <add key="APIKey" value="__ApiKey__" />
  <!-- Custom parameters-->
  <add key="IsPaidAccount" value="False" />
  <add key="IgnoreInvalidSSLCertificate" value = "False" />
  <add key="RejectDelete" value="test@test.com" />
  <add key="ValidToEmail" value="test@test.com" />
  <add key="FromEmail" value="test@test.com" />
  <add key="TemplateExample" value="Test" />
  <add key="TemplateCount" value="1" />
  <add key="UniqueExistingEmailSubject" value="Unique email subject to search"/>
</appSettings>
